In [1]:
from pyhive import hive
from impala.dbapi import connect
from hdfs import InsecureClient

In [2]:
conn = connect(host='hive-server', port='10000', auth_mechanism='PLAIN')
cursor=conn.cursor()

In [3]:
conn

In [4]:
cursor.execute("CREATE TABLE IF NOT EXISTS student(Student_Name STRING, Student_Rollno INT, Student_Marks FLOAT) \
ROW FORMAT DELIMITED \
FIELDS TERMINATED BY ','")

In [5]:
cursor.execute("INSERT INTO TABLE student VALUES ('Dikshant',1,'95'),('Akshat', 2 , '96'),('Dhruv',3,'90')")

In [6]:
cursor.execute("SELECT * FROM student")

In [7]:
for item in cursor.fetchall():
    print(item)

('Dikshant', 1, 95.0)
('Akshat', 2, 96.0)
('Dhruv', 3, 90.0)

In [8]:
cursor.execute("SELECT * FROM student WHERE Student_Marks > 93")
for item in cursor.fetchall():
    print(item)

('Dikshant', 1, 95.0)
('Akshat', 2, 96.0)